In [91]:
import numpy as np
import pandas as pd
import random
import itertools as it

import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams["figure.figsize"] = (12,6)

# NumPy

**Задача 1**\
Сгенерировать массив из случайных положительных чисел произвольной длины. Вывести элементы, которые больше среднего арифметического.

In [2]:
arr_ex = np.array(np.random.randint(10000, size=random.randint(1, 17)))
arr_ex

array([6851, 5423, 2901, 5181, 8896, 9382, 7287, 5475, 5762, 3644, 9453,
       2946, 8061, 1872])

In [3]:
arr_ex[arr_ex > np.mean(arr_ex)]

array([6851, 8896, 9382, 7287, 9453, 8061])

**Задача 2**\
Сгенерировать массив из 20 случайных элементов, элементы которого лежат в интервале [0, 10].
+ Определить количество элементов, отличающихся от минимального на 5.
+ Найти среднее арифметическое всех четных элементов массива, стоящих на нечетных местах.

In [4]:
arr_ex2 = np.array(np.random.randint(0, 11, size=20))
arr_ex2

array([ 8,  5,  8,  8,  9,  1,  0,  4,  9,  7,  3, 10,  8,  1,  2,  7,  2,
        8,  7,  4])

In [5]:
arr_ex2[arr_ex2 - np.min(arr_ex2) == 5].shape[0]

1

In [6]:
np.mean(arr_ex2[1::2][arr_ex2[0::2] % 2 == 0])

5.5

**Задача 3**\
Сгенерировать матрицу A размером 5 на 5, элементы которой лежат в интервале [1, 10].
+ Возвести в квадрат максимальный элемент матрицы.
+ Все четные числа заменить на 0.

In [7]:
a = np.array(np.random.randint(1, 11, size=(5, 5)))
a

array([[ 8,  9,  5,  8,  8],
       [ 6,  5,  3,  6, 10],
       [ 9, 10,  4,  6,  1],
       [ 8,  5,  4,  6,  1],
       [ 7,  2,  3,  5,  1]])

In [8]:
a = np.where(a == np.max(a), a **2, a)
a

array([[  8,   9,   5,   8,   8],
       [  6,   5,   3,   6, 100],
       [  9, 100,   4,   6,   1],
       [  8,   5,   4,   6,   1],
       [  7,   2,   3,   5,   1]])

In [9]:
a = np.where(a % 2 == 0, 0, a)
a

array([[0, 9, 5, 0, 0],
       [0, 5, 3, 0, 0],
       [9, 0, 0, 0, 1],
       [0, 5, 0, 0, 1],
       [7, 0, 3, 5, 1]])

**Задача 4**\
Сгенерировать матрицу B размером 5 на 5, элементы которой лежат в интервале [-5, 5]. Отрицательные элементы матрицы заменить на число отрицательных элементов в строке, в которой они находятся.

In [10]:
b = np.array(np.random.randint(-5, 6, size=(5, 5)))
b

array([[-4, -3, -1, -2,  0],
       [ 0, -5, -1, -3,  1],
       [ 0,  2, -3,  4, -1],
       [ 2,  2,  5,  5,  4],
       [ 1,  3,  3, -1,  2]])

In [11]:
b = np.where(b < 0, np.where(b < 0)[0].shape[0], b)
b

array([[10, 10, 10, 10,  0],
       [ 0, 10, 10, 10,  1],
       [ 0,  2, 10,  4, 10],
       [ 2,  2,  5,  5,  4],
       [ 1,  3,  3, 10,  2]])

# Pandas

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/rolandmueller/titanic/main/titanic3.csv")

In [13]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

**Задание 1**
+ Какой была максимальная цена билета? Медиана?
+ Какова доля выживших?
+ Сколько мужчин / женщин находилось на борту?

In [16]:
print(f'Максимальная цена билета: {df["fare"].max()}. Медианная цена билета: {df["fare"].median()}')

Максимальная цена билета: 512.3292. Медианная цена билета: 14.4542

In [19]:
print(f'Доля выживших: {round(df["survived"].value_counts(normalize=True)[1] * 100, 2)}')

Доля выживших: 38.2

In [20]:
df['sex'].value_counts()

sex
male      843
female    466
Name: count, dtype: int64

**Задание 2**
+ Выведите распределение переменной __pclass__ для мужчин и женщин.
    + Сколько мужчин было в первом классе?
    + Сколько женщин было в третьем классе?
      
+ Создайте новый признак __age_group__, который равен:
    + 1, если пассажир был моложе 30 лет;
    + 2, если пассажиру было от 30 до 60 лет;
    + 3, если пассажир был старше 60 лет.

In [32]:
df[['pclass', 'sex', 'name']].groupby(by=['sex', 'pclass']).nunique()

               name
sex    pclass
female 1        144
       2        106
       3        215
male   1        179
       2        171
       3        492

In [29]:
mal_fc = df.query('pclass == 1 and sex == "male"')['name'].nunique()
fem_tc = df.query('pclass == 3 and sex == "female"')['name'].nunique()

In [33]:
print(f'Мужчин в первом классе: {mal_fc}. Женщин в третьем классе: {fem_tc}')

Мужчин в первом классе: 179. Женщин в третьем классе: 215

**Задание 3**\
Найдите самое популярное имя среди пассажиров:
+ мужчин;
+ женщин.

1. Разобьём столбец name, поскольку нам нужно имя, а там склеено (по разделителю ".", а затем по разделителю "("), уберём значения, которые могут в дальнейшем запутать

In [192]:
df['only_name'] = df['name'].str.split('.').apply(lambda x: x[-1])
df['only_name'] = df['only_name'].str.split('(').apply(lambda x: x[0])
df['only_name'] = df['only_name'].str.split(' ').apply(lambda x: x[1:])
df['only_name'] = df['only_name'].apply(lambda x: [i for i in x if '"' not in i])
df['only_name'] = df['only_name'].apply(lambda x: [i for i in x if len(i) > 2])
df['only_name']

0               [Elisabeth, Walton]
1                  [Hudson, Trevor]
2                  [Helen, Loraine]
3       [Hudson, Joshua, Creighton]
4                          [Hudson]
                   ...
1304                       [Hileni]
1305                      [Thamine]
1306                  [Mapriededer]
1307                        [Ortin]
1308                          [Leo]
Name: only_name, Length: 1309, dtype: object

2. Создадим списки с полом, склеенным именем, в которых значения повторяются столько раз, сколько имён имеет человек

In [207]:
sex_list = []
for i in range(len(df['sex'])):
    for j in range(len(df['only_name'][i])):
        sex_list.append(df['sex'][i])

sex_list

['female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'female',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male',
 'male',
 'female',
 ...]

In [206]:
an_list = []
for i in range(len(df['name'])):
    for j in range(len(df['only_name'][i])):
        an_list.append(df['name'][i])

an_list

['Allen, Miss. Elisabeth Walton',
 'Allen, Miss. Elisabeth Walton',
 'Allison, Master. Hudson Trevor',
 'Allison, Master. Hudson Trevor',
 'Allison, Miss. Helen Loraine',
 'Allison, Miss. Helen Loraine',
 'Allison, Mr. Hudson Joshua Creighton',
 'Allison, Mr. Hudson Joshua Creighton',
 'Allison, Mr. Hudson Joshua Creighton',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Anderson, Mr. Harry',
 'Andrews, Miss. Kornelia Theodosia',
 'Andrews, Miss. Kornelia Theodosia',
 'Andrews, Mr. Thomas Jr',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Artagaveytia, Mr. Ramon',
 'Astor, Col. John Jacob',
 'Astor, Col. John Jacob',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Aubart, Mme. Leontine Pauline',
 'Aubart, Mme. Leontine Pauline',
 'Barber, Miss. Ellen "Nellie"',
 'Barkworth, Mr. Algernon Henry Wilson',
 'Barkworth, Mr. Algernon Henry Wilson',
 'Barkworth, Mr. Algernon Henry Wilson',
 'Baumann, Mr. John D',
 'Baxter, Mr. Quigg Edmond',
 'Baxter, Mr. Quigg Edmond',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Bazzani, Miss. Albina',
 'Beattie, Mr. Thomson',
 'Beckwith, Mr. Richard Leonard',
 'Beckwith, Mr. Richard Leonard',
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Behr, Mr. Karl Howell',
 'Behr, Mr. Karl Howell',
 'Bidois, Miss. Rosalie',
 'Bird, Miss. Ellen',
 'Birnbaum, Mr. Jakob',
 'Bishop, Mr. Dickinson H',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Bissette, Miss. Amelia',
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Blackwell, Mr. Stephen Weart',
 'Blackwell, Mr. Stephen Weart',
 'Blank, Mr. Henry',
 'Bonnell, Miss. Caroline',
 'Bonnell, Miss. Elizabeth',
 'Borebank, Mr. John James',
 'Borebank, Mr. John James',
 'Bowen, Miss. Grace Scott',
 'Bowen, Miss. Grace Scott',
 'Bowerman, Miss. Elsie Edith',
 'Bowerman, Miss. Elsie Edith',
 'Bradley, Mr. George ("George Arthur Brayton")',
 'Brady, Mr. John Bertram',
 'Brady, Mr. John Bertram',
 'Brandeis, Mr. Emil',
 'Brewe, Dr. Arthur Jackson',
 'Brewe, Dr. Arthur Jackson',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Brown, Mrs. John Murray (Caroline Lane Lamson)',
 'Brown, Mrs. John Murray (Caroline Lane Lamson)',
 'Bucknell, Mrs. William Robert (Emma Eliza Ward)',
 'Bucknell, Mrs. William Robert (Emma Eliza Ward)',
 'Burns, Miss. Elizabeth Margaret',
 'Burns, Miss. Elizabeth Margaret',
 'Butt, Major. Archibald Willingham',
 'Butt, Major. Archibald Willingham',
 'Cairns, Mr. Alexander',
 'Calderhead, Mr. Edward Pennington',
 'Calderhead, Mr. Edward Pennington',
 'Candee, Mrs. Edward (Helen Churchill Hungerford)',
 'Cardeza, Mr. Thomas Drake Martinez',
 'Cardeza, Mr. Thomas Drake Martinez',
 'Cardeza, Mr. Thomas Drake Martinez',
 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
 'Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
 'Carlsson, Mr. Frans Olof',
 'Carlsson, Mr. Frans Olof',
 'Carrau, Mr. Francisco M',
 'Carrau, Mr. Jose Pedro',
 'Carrau, Mr. Jose Pedro',
 'Carter, Master. William Thornton II',
 'Carter, Master. William Thornton II',
 'Carter, Miss. Lucile Polk',
 'Carter, Miss. Lucile Polk',
 'Carter, Mr. William Ernest',
 'Carter, Mr. William Ernest',
 'Carter, Mrs. William Ernest (Lucile Polk)',
 'Carter, Mrs. William Ernest (Lucile Polk)',
 'Case, Mr. Howard Brown',
 'Case, Mr. Howard Brown',
 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)',
 'Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)',
 'Cavendish, Mr. Tyrell William',
 'Cavendish, Mr. Tyrell William',
 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)',
 'Cavendish, Mrs. Tyrell William (Julia Florence Siegel)',
 'Chaffee, Mr. Herbert Fuller',
 'Chaffee, Mr. Herbert Fuller',
 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
 'Chambers, Mr. Norman Campbell',
 'Chambers, Mr. Norman Campbell',
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Chaudanson, Miss. Victorine',
 'Cherry, Miss. Gladys',
 'Chevre, Mr. Paul Romaine',
 'Chevre, Mr. Paul Romaine',
 'Chisholm, Mr. Roderick Robert Crispin',
 'Chisholm, Mr. Roderick Robert Crispin',
 'Chisholm, Mr. Roderick Robert Crispin',
 'Clark, Mr. Walter Miller',
 'Clark, Mr. Walter Miller',
 'Clark, Mrs. Walter Miller (Virginia McDowell)',
 'Clark, Mrs. Walter Miller (Virginia McDowell)',
 'Cleaver, Miss. Alice',
 'Clifford, Mr. George Quincy',
 'Clifford, Mr. George Quincy',
 'Colley, Mr. Edward Pomeroy',
 'Colley, Mr. Edward Pomeroy',
 'Compton, Miss. Sara Rebecca',
 'Compton, Miss. Sara Rebecca',
 'Compton, Mr. Alexander Taylor Jr',
 'Compton, Mr. Alexander Taylor Jr',
 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)',
 'Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)',
 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)',
 'Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)',
 'Crafton, Mr. John Bertram',
 'Crafton, Mr. John Bertram',
 'Crosby, Capt. Edward Gifford',
 'Crosby, Capt. Edward Gifford',
 'Crosby, Miss. Harriet R',
 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)',
 'Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)',
 'Cumings, Mr. John Bradley',
 'Cumings, Mr. John Bradley',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Daly, Mr. Peter Denis ',
 'Daly, Mr. Peter Denis ',
 'Daniel, Mr. Robert Williams',
 'Daniel, Mr. Robert Williams',
 'Daniels, Miss. Sarah',
 'Davidson, Mr. Thornton',
 'Davidson, Mrs. Thornton (Orian Hays)',
 'Dick, Mr. Albert Adrian',
 'Dick, Mr. Albert Adrian',
 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Dodge, Dr. Washington',
 'Dodge, Master. Washington',
 'Dodge, Mrs. Washington (Ruth Vidaver)',
 'Douglas, Mr. Walter Donald',
 'Douglas, Mr. Walter Donald',
 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)',
 'Douglas, Mrs. Frederick Charles (Mary Helene Baxter)',
 'Douglas, Mrs. Walter Donald (Mahala Dutton)',
 'Douglas, Mrs. Walter Donald (Mahala Dutton)',
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Dulles, Mr. William Crothers',
 'Dulles, Mr. William Crothers',
 'Earnshaw, Mrs. Boulton (Olive Potter)',
 'Endres, Miss. Caroline Louise',
 'Endres, Miss. Caroline Louise',
 'Eustis, Miss. Elizabeth Mussey',
 'Eustis, Miss. Elizabeth Mussey',
 'Evans, Miss. Edith Corse',
 'Evans, Miss. Edith Corse',
 'Farthing, Mr. John',
 'Flegenheim, Mrs. Alfred (Antoinette)',
 'Fleming, Miss. Margaret',
 'Flynn, Mr. John Irwin ("Irving")',
 'Flynn, Mr. John Irwin ("Irving")',
 'Foreman, Mr. Benjamin Laventall',
 'Foreman, Mr. Benjamin Laventall',
 'Fortune, Miss. Alice Elizabeth',
 'Fortune, Miss. Alice Elizabeth',
 'Fortune, Miss. Ethel Flora',
 'Fortune, Miss. Ethel Flora',
 'Fortune, Miss. Mabel Helen',
 'Fortune, Miss. Mabel Helen',
 'Fortune, Mr. Charles Alexander',
 'Fortune, Mr. Charles Alexander',
 'Fortune, Mr. Mark',
 'Fortune, Mrs. Mark (Mary McDougald)',
 'Francatelli, Miss. Laura Mabel',
 'Francatelli, Miss. Laura Mabel',
 'Franklin, Mr. Thomas Parham',
 'Franklin, Mr. Thomas Parham',
 'Frauenthal, Dr. Henry William',
 'Frauenthal, Dr. Henry William',
 'Frauenthal, Mr. Isaac Gerald',
 'Frauenthal, Mr. Isaac Gerald',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Frolicher, Miss. Hedwig Margaritha',
 'Frolicher, Miss. Hedwig Margaritha',
 'Frolicher-Stehli, Mr. Maxmillian',
 'Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)',
 'Fry, Mr. Richard',
 'Futrelle, Mr. Jacques Heath',
 'Futrelle, Mr. Jacques Heath',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Gee, Mr. Arthur H',
 'Geiger, Miss. Amalie',
 'Gibson, Miss. Dorothy Winifred',
 'Gibson, Miss. Dorothy Winifred',
 'Gibson, Mrs. Leonard (Pauline C Boeson)',
 'Giglio, Mr. Victor',
 'Goldenberg, Mr. Samuel L',
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
 'Goldschmidt, Mr. George B',
 'Gracie, Col. Archibald IV',
 'Graham, Miss. Margaret Edith',
 'Graham, Miss. Margaret Edith',
 'Graham, Mr. George Edward',
 'Graham, Mr. George Edward',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Greenfield, Mr. William Bertram',
 'Greenfield, Mr. William Bertram',
 'Greenfield, Mrs. Leo David (Blanche Strouse)',
 'Greenfield, Mrs. Leo David (Blanche Strouse)',
 'Guggenheim, Mr. Benjamin',
 'Harder, Mr. George Achilles',
 'Harder, Mr. George Achilles',
 'Harder, Mrs. George Achilles (Dorothy Annan)',
 'Harder, Mrs. George Achilles (Dorothy Annan)',
 'Harper, Mr. Henry Sleeper',
 'Harper, Mr. Henry Sleeper',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Harrington, Mr. Charles H',
 'Harris, Mr. Henry Birkhardt',
 'Harris, Mr. Henry Birkhardt',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Harrison, Mr. William',
 'Hassab, Mr. Hammad',
 'Hawksford, Mr. Walter James',
 'Hawksford, Mr. Walter James',
 'Hays, Miss. Margaret Bechstein',
 'Hays, Miss. Margaret Bechstein',
 'Hays, Mr. Charles Melville',
 'Hays, Mr. Charles Melville',
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Head, Mr. Christopher',
 'Hilliard, Mr. Herbert Henry',
 'Hilliard, Mr. Herbert Henry',
 'Hipkins, Mr. William Edward',
 'Hipkins, Mr. William Edward',
 'Hippach, Miss. Jean Gertrude',
 'Hippach, Miss. Jean Gertrude',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Hogeboom, Mrs. John C (Anna Andrews)',
 'Holverson, Mr. Alexander Oskar',
 'Holverson, Mr. Alexander Oskar',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Homer, Mr. Harry ("Mr E Haven")',
 'Hoyt, Mr. Frederick Maxfield',
 'Hoyt, Mr. Frederick Maxfield',
 'Hoyt, Mr. William Fisher',
 'Hoyt, Mr. William Fisher',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Icard, Miss. Amelie',
 'Isham, Miss. Ann Elizabeth',
 'Isham, Miss. Ann Elizabeth',
 'Ismay, Mr. Joseph Bruce',
 'Ismay, Mr. Joseph Bruce',
 'Jones, Mr. Charles Cresson',
 'Jones, Mr. Charles Cresson',
 'Julian, Mr. Henry Forbes',
 'Julian, Mr. Henry Forbes',
 'Keeping, Mr. Edwin',
 'Kent, Mr. Edward Austin',
 'Kent, Mr. Edward Austin',
 'Kenyon, Mr. Frederick R',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Kimball, Mr. Edwin Nelson Jr',
 'Kimball, Mr. Edwin Nelson Jr',
 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)',
 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)',
 'Klaber, Mr. Herman',
 'Kreuchen, Miss. Emilie',
 'Leader, Dr. Alice (Farnham)',
 'LeRoy, Miss. Bertha',
 'Lesurer, Mr. Gustave J',
 'Lewy, Mr. Ervin G',
 'Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Lingrey")',
 'Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Lingrey")',
 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)',
 'Lindstrom, Mrs. Carl Johan (Sigrid Posse)',
 'Lines, Miss. Mary Conover',
 'Lines, Miss. Mary Conover',
 'Lines, Mrs. Ernest H (Elizabeth Lindsey James)',
 'Long, Mr. Milton Clyde',
 'Long, Mr. Milton Clyde',
 'Longley, Miss. Gretchen Fiske',
 'Longley, Miss. Gretchen Fiske',
 'Loring, Mr. Joseph Holland',
 'Loring, Mr. Joseph Holland',
 'Lurette, Miss. Elise',
 'Madill, Miss. Georgette Alexandra',
 'Madill, Miss. Georgette Alexandra',
 'Maguire, Mr. John Edward',
 'Maguire, Mr. John Edward',
 'Maioni, Miss. Roberta',
 'Marechal, Mr. Pierre',
 'Marvin, Mr. Daniel Warner',
 'Marvin, Mr. Daniel Warner',
 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)',
 'Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'McCaffry, Mr. Thomas Francis',
 'McCaffry, Mr. Thomas Francis',
 'McCarthy, Mr. Timothy J',
 'McGough, Mr. James Robert',
 'McGough, Mr. James Robert',
 'Meyer, Mr. Edgar Joseph',
 'Meyer, Mr. Edgar Joseph',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Millet, Mr. Francis Davis',
 'Millet, Mr. Francis Davis',
 'Minahan, Dr. William Edward',
 'Minahan, Dr. William Edward',
 'Minahan, Miss. Daisy E',
 'Minahan, Mrs. William Edward (Lillian E Thorpe)',
 'Minahan, Mrs. William Edward (Lillian E Thorpe)',
 'Mock, Mr. Philipp Edmund',
 'Mock, Mr. Philipp Edmund',
 'Molson, Mr. Harry Markland',
 'Molson, Mr. Harry Markland',
 'Moore, Mr. Clarence Bloomfield',
 'Moore, Mr. Clarence Bloomfield',
 'Natsch, Mr. Charles H',
 'Newell, Miss. Madeleine',
 'Newell, Miss. Marjorie',
 'Newell, Mr. Arthur Webster',
 'Newell, Mr. Arthur Webster',
 'Newsom, Miss. Helen Monypeny',
 'Newsom, Miss. Helen Monypeny',
 'Nicholson, Mr. Arthur Ernest',
 'Nicholson, Mr. Arthur Ernest',
 'Oliva y Ocana, Dona. Fermina',
 'Omont, Mr. Alfred Fernand',
 'Omont, Mr. Alfred Fernand',
 'Ostby, Miss. Helene Ragnhild',
 'Ostby, Miss. Helene Ragnhild',
 'Ostby, Mr. Engelhart Cornelius',
 'Ostby, Mr. Engelhart Cornelius',
 'Ovies y Rodriguez, Mr. Servando',
 'Parr, Mr. William Henry Marsh',
 'Parr, Mr. William Henry Marsh',
 'Parr, Mr. William Henry Marsh',
 'Partner, Mr. Austen',
 'Payne, Mr. Vivian Ponsonby',
 'Payne, Mr. Vivian Ponsonby',
 'Pears, Mr. Thomas Clinton',
 'Pears, Mr. Thomas Clinton',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Penasco y Castellana, Mr. Victor de Satode',
 'Penasco y Castellana, Mr. Victor de Satode',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Perreault, Miss. Anne',
 'Peuchen, Major. Arthur Godfrey',
 'Peuchen, Major. Arthur Godfrey',
 'Porter, Mr. Walter Chamberlain',
 'Porter, Mr. Walter Chamberlain',
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)',
 'Reuchlin, Jonkheer. John George',
 'Reuchlin, Jonkheer. John George',
 'Rheims, Mr. George Alexander Lucien',
 'Rheims, Mr. George Alexander Lucien',
 'Rheims, Mr. George Alexander Lucien',
 'Ringhini, Mr. Sante',
 'Robbins, Mr. Victor',
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
 'Roebling, Mr. Washington Augustus II',
 'Roebling, Mr. Washington Augustus II',
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
 'Rood, Mr. Hugh Roscoe',
 'Rood, Mr. Hugh Roscoe',
 'Rosenbaum, Miss. Edith Louise',
 'Rosenbaum, Miss. Edith Louise',
 'Rosenshine, Mr. George ("Mr George Thorne")',
 'Ross, Mr. John Hugo',
 'Ross, Mr. John Hugo',
 'Rothschild, Mr. Martin',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Rowe, Mr. Alfred G',
 'Ryerson, Master. John Borie',
 'Ryerson, Master. John Borie',
 'Ryerson, Miss. Emily Borie',
 'Ryerson, Miss. Emily Borie',
 'Ryerson, Miss. Susan Parker "Suzette"',
 'Ryerson, Miss. Susan Parker "Suzette"',
 'Ryerson, Mr. Arthur Larned',
 'Ryerson, Mr. Arthur Larned',
 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)',
 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)',
 'Saalfeld, Mr. Adolphe',
 'Sagesser, Mlle. Emma',
 'Salomon, Mr. Abraham L',
 'Schabert, Mrs. Paul (Emma Mock)',
 'Serepeca, Miss. Augusta',
 'Seward, Mr. Frederic Kimber',
 'Seward, Mr. Frederic Kimber',
 'Shutes, Miss. Elizabeth W',
 'Silverthorne, Mr. Spencer Victor',
 'Silverthorne, Mr. Spencer Victor',
 'Silvey, Mr. William Baird',
 'Silvey, Mr. William Baird',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Simonius-Blumer, Col. Oberst Alfons',
 'Simonius-Blumer, Col. Oberst Alfons',
 'Sloper, Mr. William Thompson',
 'Sloper, Mr. William Thompson',
 'Smart, Mr. John Montgomery',
 'Smart, Mr. John Montgomery',
 'Smith, Mr. James Clinch',
 'Smith, Mr. James Clinch',
 'Smith, Mr. Lucien Philip',
 'Smith, Mr. Lucien Philip',
 'Smith, Mr. Richard William',
 'Smith, Mr. Richard William',
 'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)',
 'Smith, Mrs. Lucien Philip (Mary Eloise Hughes)',
 'Snyder, Mr. John Pillsbury',
 'Snyder, Mr. John Pillsbury',
 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)',
 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)',
 'Spedden, Master. Robert Douglas',
 'Spedden, Master. Robert Douglas',
 'Spedden, Mr. Frederic Oakley',
 'Spedden, Mr. Frederic Oakley',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Spencer, Mr. William Augustus',
 'Spencer, Mr. William Augustus',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Stahelin-Maeglin, Dr. Max',
 'Stead, Mr. William Thomas',
 'Stead, Mr. William Thomas',
 'Stengel, Mr. Charles Emil Henry',
 'Stengel, Mr. Charles Emil Henry',
 'Stengel, Mr. Charles Emil Henry',
 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)',
 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)',
 'Stengel, Mrs. Charles Emil Henry (Annie May Morris)',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Stewart, Mr. Albert A',
 'Stone, Mrs. George Nelson (Martha Evelyn)',
 'Stone, Mrs. George Nelson (Martha Evelyn)',
 'Straus, Mr. Isidor',
 'Straus, Mrs. Isidor (Rosalie Ida Blun)',
 'Sutton, Mr. Frederick',
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)',
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)',
 'Taussig, Miss. Ruth',
 'Taussig, Mr. Emil',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'Taylor, Mr. Elmer Zebley',
 'Taylor, Mr. Elmer Zebley',
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
 'Thayer, Mr. John Borland',
 'Thayer, Mr. John Borland',
 'Thayer, Mr. John Borland Jr',
 'Thayer, Mr. John Borland Jr',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Thorne, Mrs. Gertrude Maybelle',
 'Tucker, Mr. Gilbert Milligan Jr',
 'Tucker, Mr. Gilbert Milligan Jr',
 'Uruchurtu, Don. Manuel E',
 'Van der hoef, Mr. Wyckoff',
 'Walker, Mr. William Anderson',
 'Walker, Mr. William Anderson',
 'Ward, Miss. Anna',
 'Warren, Mr. Frank Manley',
 'Warren, Mr. Frank Manley',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Weir, Col. John',
 'White, Mr. Percival Wayland',
 'White, Mr. Percival Wayland',
 'White, Mr. Richard Frasar',
 'White, Mr. Richard Frasar',
 'White, Mrs. John Stuart (Ella Holmes)',
 'White, Mrs. John Stuart (Ella Holmes)',
 'Wick, Miss. Mary Natalie',
 'Wick, Miss. Mary Natalie',
 'Wick, Mr. George Dennick',
 'Wick, Mr. George Dennick',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Widener, Mr. George Dunton',
 'Widener, Mr. George Dunton',
 'Widener, Mr. Harry Elkins',
 'Widener, Mr. Harry Elkins',
 'Widener, Mrs. George Dunton (Eleanor Elkins)',
 'Widener, Mrs. George Dunton (Eleanor Elkins)',
 'Willard, Miss. Constance',
 'Williams, Mr. Charles Duane',
 'Williams, Mr. Charles Duane',
 'Williams, Mr. Richard Norris II',
 'Williams, Mr. Richard Norris II',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Wilson, Miss. Helen Alice',
 'Wilson, Miss. Helen Alice',
 'Woolner, Mr. Hugh',
 'Wright, Mr. George',
 'Young, Miss. Marie Grice',
 'Young, Miss. Marie Grice',
 'Abelson, Mr. Samuel',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Aldworth, Mr. Charles Augustus',

3. Создадим кортеж из пары пол-имя, в котором множественные имена разделены

In [196]:
name_list = list(zip(sex_list, [x for y in df['only_name'] for x in y]))
name_list

[('female', 'Elisabeth'),
 ('female', 'Walton'),
 ('male', 'Hudson'),
 ('male', 'Trevor'),
 ('female', 'Helen'),
 ('female', 'Loraine'),
 ('male', 'Hudson'),
 ('male', 'Joshua'),
 ('male', 'Creighton'),
 ('female', 'Hudson'),
 ('male', 'Harry'),
 ('female', 'Kornelia'),
 ('female', 'Theodosia'),
 ('male', 'Thomas'),
 ('female', 'Edward'),
 ('female', 'Dale'),
 ('male', 'Ramon'),
 ('male', 'John'),
 ('male', 'Jacob'),
 ('female', 'John'),
 ('female', 'Jacob'),
 ('female', 'Leontine'),
 ('female', 'Pauline'),
 ('female', 'Ellen'),
 ('male', 'Algernon'),
 ('male', 'Henry'),
 ('male', 'Wilson'),
 ('male', 'John'),
 ('male', 'Quigg'),
 ('male', 'Edmond'),
 ('female', 'James'),
 ('female', 'Albina'),
 ('male', 'Thomson'),
 ('male', 'Richard'),
 ('male', 'Leonard'),
 ('female', 'Richard'),
 ('female', 'Leonard'),
 ('male', 'Karl'),
 ('male', 'Howell'),
 ('female', 'Rosalie'),
 ('female', 'Ellen'),
 ('male', 'Jakob'),
 ('male', 'Dickinson'),
 ('female', 'Dickinson'),
 ('female', 'Amelia'),
 ('male', 'Mauritz'),
 ('male', 'Hakan'),
 ('male', 'Stephen'),
 ('male', 'Weart'),
 ('male', 'Henry'),
 ('female', 'Caroline'),
 ('female', 'Elizabeth'),
 ('male', 'John'),
 ('male', 'James'),
 ('female', 'Grace'),
 ('female', 'Scott'),
 ('female', 'Elsie'),
 ('female', 'Edith'),
 ('male', 'George'),
 ('male', 'John'),
 ('male', 'Bertram'),
 ('male', 'Emil'),
 ('male', 'Arthur'),
 ('male', 'Jackson'),
 ('female', 'James'),
 ('female', 'Joseph'),
 ('female', 'John'),
 ('female', 'Murray'),
 ('female', 'William'),
 ('female', 'Robert'),
 ('female', 'Elizabeth'),
 ('female', 'Margaret'),
 ('male', 'Archibald'),
 ('male', 'Willingham'),
 ('male', 'Alexander'),
 ('male', 'Edward'),
 ('male', 'Pennington'),
 ('female', 'Edward'),
 ('male', 'Thomas'),
 ('male', 'Drake'),
 ('male', 'Martinez'),
 ('female', 'James'),
 ('female', 'Warburton'),
 ('female', 'Martinez'),
 ('male', 'Frans'),
 ('male', 'Olof'),
 ('male', 'Francisco'),
 ('male', 'Jose'),
 ('male', 'Pedro'),
 ('male', 'William'),
 ('male', 'Thornton'),
 ('female', 'Lucile'),
 ('female', 'Polk'),
 ('male', 'William'),
 ('male', 'Ernest'),
 ('female', 'William'),
 ('female', 'Ernest'),
 ('male', 'Howard'),
 ('male', 'Brown'),
 ('female', 'Henry'),
 ('female', 'Arthur'),
 ('male', 'Tyrell'),
 ('male', 'William'),
 ('female', 'Tyrell'),
 ('female', 'William'),
 ('male', 'Herbert'),
 ('male', 'Fuller'),
 ('female', 'Herbert'),
 ('female', 'Fuller'),
 ('male', 'Norman'),
 ('male', 'Campbell'),
 ('female', 'Norman'),
 ('female', 'Campbell'),
 ('female', 'Victorine'),
 ('female', 'Gladys'),
 ('male', 'Paul'),
 ('male', 'Romaine'),
 ('male', 'Roderick'),
 ('male', 'Robert'),
 ('male', 'Crispin'),
 ('male', 'Walter'),
 ('male', 'Miller'),
 ('female', 'Walter'),
 ('female', 'Miller'),
 ('female', 'Alice'),
 ('male', 'George'),
 ('male', 'Quincy'),
 ('male', 'Edward'),
 ('male', 'Pomeroy'),
 ('female', 'Sara'),
 ('female', 'Rebecca'),
 ('male', 'Alexander'),
 ('male', 'Taylor'),
 ('female', 'Alexander'),
 ('female', 'Taylor'),
 ('female', 'Robert'),
 ('female', 'Clifford'),
 ('male', 'John'),
 ('male', 'Bertram'),
 ('male', 'Edward'),
 ('male', 'Gifford'),
 ('female', 'Harriet'),
 ('female', 'Edward'),
 ('female', 'Gifford'),
 ('male', 'John'),
 ('male', 'Bradley'),
 ('female', 'John'),
 ('female', 'Bradley'),
 ('male', 'Peter'),
 ('male', 'Denis'),
 ('male', 'Robert'),
 ('male', 'Williams'),
 ('female', 'Sarah'),
 ('male', 'Thornton'),
 ('female', 'Thornton'),
 ('male', 'Albert'),
 ('male', 'Adrian'),
 ('female', 'Albert'),
 ('female', 'Adrian'),
 ('male', 'Washington'),
 ('male', 'Washington'),
 ('female', 'Washington'),
 ('male', 'Walter'),
 ('male', 'Donald'),
 ('female', 'Frederick'),
 ('female', 'Charles'),
 ('female', 'Walter'),
 ('female', 'Donald'),
 ('male', 'Cosmo'),
 ('male', 'Edmund'),
 ('male', 'William'),
 ('male', 'Crothers'),
 ('female', 'Boulton'),
 ('female', 'Caroline'),
 ('female', 'Louise'),
 ('female', 'Elizabeth'),
 ('female', 'Mussey'),
 ('female', 'Edith'),
 ('female', 'Corse'),
 ('male', 'John'),
 ('female', 'Alfred'),
 ('female', 'Margaret'),
 ('male', 'John'),
 ('male', 'Irwin'),
 ('male', 'Benjamin'),
 ('male', 'Laventall'),
 ('female', 'Alice'),
 ('female', 'Elizabeth'),
 ('female', 'Ethel'),
 ('female', 'Flora'),
 ('female', 'Mabel'),
 ('female', 'Helen'),
 ('male', 'Charles'),
 ('male', 'Alexander'),
 ('male', 'Mark'),
 ('female', 'Mark'),
 ('female', 'Laura'),
 ('female', 'Mabel'),
 ('male', 'Thomas'),
 ('male', 'Parham'),
 ('male', 'Henry'),
 ('male', 'William'),
 ('male', 'Isaac'),
 ('male', 'Gerald'),
 ('female', 'Henry'),
 ('female', 'William'),
 ('female', 'Hedwig'),
 ('female', 'Margaritha'),
 ('male', 'Maxmillian'),
 ('female', 'Maxmillian'),
 ('male', 'Richard'),
 ('male', 'Jacques'),
 ('male', 'Heath'),
 ('female', 'Jacques'),
 ('female', 'Heath'),
 ('male', 'Arthur'),
 ('female', 'Amalie'),
 ('female', 'Dorothy'),
 ('female', 'Winifred'),
 ('female', 'Leonard'),
 ('male', 'Victor'),
 ('male', 'Samuel'),
 ('female', 'Samuel'),
 ('male', 'George'),
 ('male', 'Archibald'),
 ('female', 'Margaret'),
 ('female', 'Edith'),
 ('male', 'George'),
 ('male', 'Edward'),
 ('female', 'William'),
 ('female', 'Thompson'),
 ('male', 'William'),
 ('male', 'Bertram'),
 ('female', 'Leo'),
 ('female', 'David'),
 ('male', 'Benjamin'),
 ('male', 'George'),
 ('male', 'Achilles'),
 ('female', 'George'),
 ('female', 'Achilles'),
 ('male', 'Henry'),
 ('male', 'Sleeper'),
 ('female', 'Henry'),
 ('female', 'Sleeper'),
 ('male', 'Charles'),
 ('male', 'Henry'),
 ('male', 'Birkhardt'),
 ('female', 'Henry'),
 ('female', 'Birkhardt'),
 ('male', 'William'),
 ('male', 'Hammad'),
 ('male', 'Walter'),
 ('male', 'James'),
 ('female', 'Margaret'),
 ('female', 'Bechstein'),
 ('male', 'Charles'),
 ('male', 'Melville'),
 ('female', 'Charles'),
 ('female', 'Melville'),
 ('male', 'Christopher'),
 ('male', 'Herbert'),
 ('male', 'Henry'),
 ('male', 'William'),
 ('male', 'Edward'),
 ('female', 'Jean'),
 ('female', 'Gertrude'),
 ('female', 'Louis'),
 ('female', 'Albert'),
 ('female', 'John'),
 ('male', 'Alexander'),
 ('male', 'Oskar'),
 ('female', 'Alexander'),
 ('female', 'Oskar'),
 ('male', 'Harry'),
 ('male', 'Frederick'),
 ('male', 'Maxfield'),
 ('male', 'William'),
 ('male', 'Fisher'),
 ('female', 'Frederick'),
 ('female', 'Maxfield'),
 ('female', 'Amelie'),
 ('female', 'Ann'),
 ('female', 'Elizabeth'),
 ('male', 'Joseph'),
 ('male', 'Bruce'),
 ('male', 'Charles'),
 ('male', 'Cresson'),
 ('male', 'Henry'),
 ('male', 'Forbes'),
 ('male', 'Edwin'),
 ('male', 'Edward'),
 ('male', 'Austin'),
 ('male', 'Frederick'),
 ('female', 'Frederick'),
 ('male', 'Edwin'),
 ('male', 'Nelson'),
 ('female', 'Edwin'),
 ('female', 'Nelson'),
 ('male', 'Herman'),
 ('female', 'Emilie'),
 ('female', 'Alice'),
 ('female', 'Bertha'),
 ('male', 'Gustave'),
 ('male', 'Ervin'),
 ('male', 'Erik'),
 ('male', 'Gustaf'),
 ('female', 'Carl'),
 ('female', 'Johan'),
 ('female', 'Mary'),
 ('female', 'Conover'),
 ('female', 'Ernest'),
 ('male', 'Milton'),
 ('male', 'Clyde'),
 ('female', 'Gretchen'),
 ('female', 'Fiske'),
 ('male', 'Joseph'),
 ('male', 'Holland'),
 ('female', 'Elise'),
 ('female', 'Georgette'),
 ('female', 'Alexandra'),
 ('male', 'John'),
 ('male', 'Edward'),
 ('female', 'Roberta'),
 ('male', 'Pierre'),
 ('male', 'Daniel'),
 ('male', 'Warner'),
 ('female', 'Daniel'),
 ('female', 'Warner'),
 ('female', 'Berthe'),
 ('female', 'Antonine'),
 ('male', 'Thomas'),
 ('male', 'Francis'),
 ('male', 'Timothy'),
 ('male', 'James'),
 ('male', 'Robert'),
 ('male', 'Edgar'),
 ('male', 'Joseph'),
 ('female', 'Edgar'),
 ('female', 'Joseph'),
 ('male', 'Francis'),
 ('male', 'Davis'),
 ('male', 'William'),
 ('male', 'Edward'),
 ('female', 'Daisy'),
 ('female', 'William'),
 ('female', 'Edward'),
 ('male', 'Philipp'),
 ('male', 'Edmund'),
 ('male', 'Harry'),
 ('male', 'Markland'),
 ('male', 'Clarence'),
 ('male', 'Bloomfield'),
 ('male', 'Charles'),
 ('female', 'Madeleine'),
 ('female', 'Marjorie'),
 ('male', 'Arthur'),
 ('male', 'Webster'),
 ('female', 'Helen'),
 ('female', 'Monypeny'),
 ('male', 'Arthur'),
 ('male', 'Ernest'),
 ('female', 'Fermina'),
 ('male', 'Alfred'),
 ('male', 'Fernand'),
 ('female', 'Helene'),
 ('female', 'Ragnhild'),
 ('male', 'Engelhart'),
 ('male', 'Cornelius'),
 ('male', 'Servando'),
 ('male', 'William'),
 ('male', 'Henry'),
 ('male', 'Marsh'),
 ('male', 'Austen'),
 ('male', 'Vivian'),
 ('male', 'Ponsonby'),
 ('male', 'Thomas'),
 ('male', 'Clinton'),
 ('female', 'Thomas'),
 ('male', 'Victor'),
 ('male', 'Satode'),
 ('female', 'Victor'),
 ('female', 'Satode'),
 ('female', 'Anne'),
 ('male', 'Arthur'),
 ('male', 'Godfrey'),
 ('male', 'Walter'),
 ('male', 'Chamberlain'),
 ('female', 'Thomas'),
 ('male', 'John'),
 ('male', 'George'),
 ('male', 'George'),
 ('male', 'Alexander'),
 ('male', 'Lucien'),
 ('male', 'Sante'),
 ('male', 'Victor'),
 ('female', 'Edward'),
 ('female', 'Scott'),
 ('male', 'Washington'),
 ('male', 'Augustus'),
 ('male', 'Charles'),
 ('male', 'Hallace'),
 ('male', 'Hugh'),
 ('male', 'Roscoe'),
 ('female', 'Edith'),
 ('female', 'Louise'),
 ('male', 'George'),
 ('male', 'John'),
 ('male', 'Hugo'),
 ('male', 'Martin'),
 ('female', 'Barrett)'),
 ('male', 'Alfred'),
 ('male', 'John'),
 ('male', 'Borie'),
 ('female', 'Emily'),
 ('female', 'Borie'),
 ('female', 'Susan'),
 ('female', 'Parker'),
 ('male', 'Arthur'),
 ('male', 'Larned'),
 ('female', 'Arthur'),
 ('female', 'Larned'),
 ('male', 'Adolphe'),
 ('female', 'Emma'),
 ('male', 'Abraham'),
 ('female', 'Paul'),
 ('female', 'Augusta'),
 ('male', 'Frederic'),
 ('male', 'Kimber'),
 ('female', 'Elizabeth'),
 ('male', 'Spencer'),
 ('male', 'Victor'),
 ('male', 'William'),
 ('male', 'Baird'),
 ('female', 'William'),
 ('female', 'Baird'),
 ('male', 'Oberst'),
 ('male', 'Alfons'),
 ('male', 'William'),
 ('male', 'Thompson'),
 ('male', 'John'),
 ('male', 'Montgomery'),
 ('male', 'James'),
 ('male', 'Clinch'),
 ('male', 'Lucien'),
 ('male', 'Philip'),
 ('male', 'Richard'),
 ('male', 'William'),
 ('female', 'Lucien'),
 ('female', 'Philip'),
 ('male', 'John'),
 ('male', 'Pillsbury'),
 ('female', 'John'),
 ('female', 'Pillsbury'),
 ('male', 'Robert'),
 ('male', 'Douglas'),
 ('male', 'Frederic'),
 ('male', 'Oakley'),
 ('female', 'Frederic'),
 ('female', 'Oakley'),
 ('male', 'William'),
 ('male', 'Augustus'),
 ('female', 'William'),
 ('female', 'Augustus'),
 ('male', 'Max'),
 ('male', 'William'),
 ('male', 'Thomas'),
 ('male', 'Charles'),
 ('male', 'Emil'),
 ('male', 'Henry'),
 ('female', 'Charles'),
 ('female', 'Emil'),
 ('female', 'Henry'),
 ('female', 'Walter'),
 ('female', 'Bertram'),
 ('male', 'Albert'),
 ('female', 'George'),
 ('female', 'Nelson'),
 ('male', 'Isidor'),
 ('female', 'Isidor'),
 ('male', 'Frederick'),
 ('female', 'Frederick'),
 ('female', 'Joel'),
 ('female', 'Ruth'),
 ('male', 'Emil'),
 ('female', 'Emil'),
 ('male', 'Elmer'),
 ('male', 'Zebley'),
 ('female', 'Elmer'),
 ('female', 'Zebley'),
 ('male', 'John'),
 ('male', 'Borland'),
 ('male', 'John'),
 ('male', 'Borland'),
 ('female', 'John'),
 ('female', 'Borland'),
 ('female', 'Gertrude'),
 ('female', 'Maybelle'),
 ('male', 'Gilbert'),
 ('male', 'Milligan'),
 ('male', 'Manuel'),
 ('male', 'Wyckoff'),
 ('male', 'William'),
 ('male', 'Anderson'),
 ('female', 'Anna'),
 ('male', 'Frank'),
 ('male', 'Manley'),
 ('female', 'Frank'),
 ('female', 'Manley'),
 ('male', 'John'),
 ('male', 'Percival'),
 ('male', 'Wayland'),
 ('male', 'Richard'),
 ('male', 'Frasar'),
 ('female', 'John'),
 ('female', 'Stuart'),
 ('female', 'Mary'),
 ('female', 'Natalie'),
 ('male', 'George'),
 ('male', 'Dennick'),
 ('female', 'George'),
 ('female', 'Dennick'),
 ('male', 'George'),
 ('male', 'Dunton'),
 ('male', 'Harry'),
 ('male', 'Elkins'),
 ('female', 'George'),
 ('female', 'Dunton'),
 ('female', 'Constance'),
 ('male', 'Charles'),
 ('male', 'Duane'),
 ('male', 'Richard'),
 ('male', 'Norris'),
 ('male', 'Fletcher'),
 ('male', 'Fellows'),
 ('female', 'Helen'),
 ('female', 'Alice'),
 ('male', 'Hugh'),
 ('male', 'George'),
 ('female', 'Marie'),
 ('female', 'Grice'),
 ('male', 'Samuel'),
 ('female', 'Samuel'),
 ('male', 'Charles'),
 ('male', 'Augustus'),
 ('male', 'Edgardo'),
 ('male', 'Samuel'),
 ('male', 'Frank'),
 ('male', 'Thomas'),
 ('male', 'William'),
 ('female', 'William'),
 ('male', 'John'),
 ('male', 'Percy'),
 ('male', 'Andrew'),
 ('male', 'Charles'),
 ('male', 'Robert'),
 ('male', 'Frederick'),
 ('male', 'James'),
 ('male', 'Robert'),
 ('male', 'James'),
 ('male', 'Edward'),
 ('female', 'Edward'),
 ('male', 'Henry'),
 ('male', 'James'),
 ('male', 'Richard'),
 ('female', 'Marion'),
 ('female', 'Louise'),
 ('female', 'Ruth'),
 ('female', 'Elizabeth'),
 ('female', 'Allen'),
 ('female', 'Oliver'),
 ('male', 'Lawrence'),
 ('female', 'Lilian'),
 ('male', 'William'),
 ('male', 'John'),
 ('male', 'William'),
 ('male', 'Hull'),
 ('male', 'Solomon'),
 ('male', 'James'),
 ('female', 'Amelia'),
 ('female', 'Edith'),
 ('female', 'Eileen'),
 ('male', 'Thomas'),
 ('male', 'William'),
 ('male', 'Solomon'),
 ('female', 'Thomas'),
 ('female', 'William'),
 ('female', 'Solomon'),
 ('female', 'Dagmar'),
 ('female', 'Jenny'),
 ('female', 'Ingeborg'),
 ('male', 'Kurt'),
 ('male', 'Arnold'),
 ('male', 'Gottfrid'),
 ('female', 'Kate'),
 ('male', 'Reginald'),
 ('male', 'Fenton'),
 ('male', 'Thomas'),
 ('male', 'Roussel'),
 ('male', 'Davids'),
 ('male', 'Alden'),
 ('male', 'Gates'),
 ('male', 'Albert'),
 ('male', 'Francis'),
 ('female', 'Albert'),
 ('female', 'Francis'),
 ('female', 'Clear'),
 ('female', 'Annie'),
 ('male', 'William'),
 ('male', 'William'),
 ('female', 'Ernest'),
 ('female', 'Courtenay'),
 ('male', 'Ernest'),
 ('male', 'Courtenay'),
 ('male', 'Charles'),
 ('male', 'Henry'),
 ('male', 'John'),
 ('male', 'Henry'),
 ('female', 'John'),
 ('female', 'Henry'),
 ('female', 'Julie'),
 ('female', 'Rachel'),
 ('male', 'Charles'),
 ('male', 'Valentine'),
 ('female', 'Charles'),
 ('male', 'Reginald'),
 ('male', 'Charles'),
 ('male', 'Erik'),
 ('male', 'Gustaf'),
 ('male', 'Sidney'),
 ('male', 'Stuart'),
 ('female', 'Marjorie'),
 ('male', 'Harvey'),
 ('female', 'Harvey'),
 ('female', 'Walter'),
 ('female', 'Percy'),
 ('male', 'Henry'),
 ('male', 'Alfred'),
 ('male', 'Fleming'),
 ('male', 'John'),
 ('male', 'Morgan'),
 ('male', 'Charles'),
 ('male', 'Henry'),
 ('female', 'John'),
 ('female', 'Morgan'),
 ('female', 'Mary'),
 ('male', 'Jose'),
 ('male', 'Joaquim'),
 ('male', 'Percy'),
 ('male', 'William'),
 ('male', 'Sebastiano'),
 ('female', 'Sebastiano'),
 ('male', 'Herbert'),
 ('male', 'William'),
 ('female', 'Elsie'),
 ('female', 'John'),
 ('male', 'William'),
 ('male', 'James'),
 ('male', 'Marshall'),
 ('male', 'Brines'),
 ('male', 'James'),
 ('male', 'Vivian'),
 ('female', 'James'),
 ('female', 'Vivian'),
 ('female', 'Asuncion'),
 ('female', 'Florentina'),
 ('male', 'George'),
 ('male', 'Floyd'),
 ('male', 'Ingvar'),
 ('male', 'Arne'),
 ('male', 'Jonas'),
 ('male', 'Harry'),
 ('female', 'Lizzie'),
 ('male', 'Joseph'),
 ('male', 'Charles'),
 ('male', 'Stanley'),
 ('male', 'Hubert'),
 ('male', 'Anthony'),
 ('male', 'Wood'),
 ('female', 'Annie'),
 ('female', 'Clemmer'),
 ('male', 'Joseph'),
 ('male', 'Harry'),
 ('male', 'Shadrach'),
 ('female', 'Ethel'),
 ('male', 'Alfred'),
 ('male', 'Lawrence'),
 ('male', 'William'),
 ('male', 'Edgar'),
 ('male', 'Frederick'),
 ('male', 'Edward'),
 ('male', 'Ralph'),
 ('male', 'John'),
 ('male', 'William'),
 ('male', 'William'),
 ('male', 'Henry'),
 ('male', 'Hans'),
 ('male', 'Kristensen'),
 ('male', 'Samuel'),
 ('male', 'Reginald'),
 ('male', 'Viljo'),
 ('female', 'William'),
 ('male', 'William'),
 ('female', 'Annie'),
 ('female', 'Jessie'),
 ('male', 'John'),
 ('male', 'George'),
 ('male', 'Walter'),
 ('female', 'Eva'),
 ('female', 'Miriam'),
 ('male', 'Benjamin'),
 ('female', 'Benjamin'),
 ('female', 'Alice'),
 ('female', 'Kate'),
 ('male', 'Samuel'),
 ('female', 'Samuel'),
 ('male', 'Leonard'),
 ('male', 'Mark'),
 ('male', 'Lewis'),
 ('male', 'Stanley'),
 ('male', 'George'),
 ('female', 'Marta'),
 ('female', 'Ellen'),
 ('male', 'Richard'),
 ('male', 'George'),
 ('male', 'Samuel'),
 ('male', 'James'),
 ('male', 'Metcalfe'),
 ('female', 'Elizabeth'),
 ('male', 'Henry'),
 ('male', 'Price'),
 ('male', 'Stephen'),
 ('female', 'Stephen'),
 ('male', 'Ambrose'),
 ('male', 'Masabumi'),
 ('male', 'Benjamin'),
 ('female', 'Benjamin'),
 ('male', 'George'),
 ('male', 'Henry'),
 ('female', 'Bertha'),
 ('male', 'Sidney'),
 ('male', 'Samuel'),
 ('female', 'Sidney'),
 ('female', 'Samuel'),
 ('male', 'John'),
 ('male', 'Denzil'),
 ('male', 'Clifford'),
 ('male', 'Thomas'),
 ('male', 'Ernest'),
 ('male', 'Wilfred'),
 ('male', 'Stephen'),
 ('male', 'Curnow'),
 ('female', 'Amin'),
 ('male', 'Sinai'),
 ('female', 'Sinai'),
 ('female', 'Frank'),
 ('female', 'Nora'),
 ('male', 'Daniel'),
 ('female', 'Florence'),
 ('male', 'Charles'),
 ('male', 'Leonard'),
 ('male', 'Robert'),
 ('male', 'Johan'),
 ('male', 'Henrik'),
 ('male', 'Johannesson'),
 ('female', 'William'),
 ('male', 'William'),
 ('male', 'John'),
 ('male', 'Joseph'),
 ('female', 'Louise'),
 ('female', 'Simonne'),
 ('female', 'Marie'),
 ('female', 'Anne'),
 ('female', 'Andree'),
 ('male', 'Joseph'),
 ('male', 'Philippe'),
 ('male', 'Lemercier'),
 ('female', 'Joseph'),
 ('female', 'Bertha'),
 ('female', 'Jessie'),
 ('female', 'Wills'),
 ('male', 'Rene'),
 ('male', 'Jacques'),
 ('male', 'Robert'),
 ('male', 'William'),
 ('male', 'Norman'),
 ('male', 'John'),
 ('male', 'Charles'),
 ('male', 'Alexander'),
 ('female', 'Charles'),
 ('female', 'Alexander'),
 ('male', 'Noel'),
 ('male', 'Andre'),
 ('male', 'Albert'),
 ('female', 'Albert'),
 ('male', 'Serafino'),
 ('male', 'Emilio'),
 ('male', 'William'),
 ('male', 'John'),
 ('male', 'Frank'),
 ('male', 'Hubert'),
 ('male', 'Arthur'),
 ('male', 'Gordon'),
 ('male', 'James'),
 ('male', 'Matthew'),
 ('male', 'Peter'),
 ('male', 'David'),
 ('female', 'Madeleine'),
 ('female', 'Violet'),
 ('male', 'William'),
 ('male', 'John'),
 ('male', 'August'),
 ('male', 'Jacob'),
 ('male', 'Christian'),
 ('male', 'Henry'),
 ('male', 'Michael'),
 ('male', 'Juozas'),
 ('male', 'Ernest'),
 ('male', 'Henry'),
 ('male', 'Samuel'),
 ('male', 'Thomas'),
 ('male', 'Charles'),
 ('male', 'Thomas'),
 ('male', 'Francis'),
 ('male', 'Nicholas'),
 ('female', 'Nicholas'),
 ('male', 'Edmond'),
 ('male', 'Roger'),
 ('male', 'Michel'),
 ('male', 'Michel'),
 ('male', 'Israel'),
 ('male', 'Joseph'),
 ('male', 'Charles'),
 ('male', 'Robert'),
 ('male', 'Douglas'),
 ('male', 'Alfred'),
 ('male', 'Richard'),
 ('male', 'Percy'),
 ('male', 'Thomas'),
 ('male', 'Julian'),
 ('male', 'Alfred'),
 ('male', 'Emilio'),
 ('male', 'Clifford'),
 ('male', 'Richard'),
 ('male', 'Francis'),
 ('male', 'Frederick'),
 ('male', 'William'),
 ('male', 'Rene'),
 ('male', 'Joseph'),
 ('male', 'Maria'),
 ('female', 'Alice'),
 ('female', 'Frances'),
 ('female', 'Louisa'),
 ('female', 'Kate'),
 ('female', 'Florence'),
 ('male', 'Escott'),
 ('male', 'Robert'),
 ('male', 'Martin'),
 ('male', 'Emilio'),
 ('male', 'Ilario'),
 ('male', 'Giuseppe'),
 ('male', 'Franz'),
 ('female', 'Phyllis'),
 ('female', 'May'),
 ('female', 'Winifred'),
 ('female', 'Vera'),
 ('female', 'Frederick'),
 ('female', 'Charles'),
 ('male', 'David'),
 ('male', 'Peter'),
 ('male', 'Henry'),
 ('female', 'Peter'),
 ('female', 'Henry'),
 ('female', 'Encarnacion'),
 ('male', 'Emile'),
 ('male', 'George'),
 ('male', 'Sibley'),
 ('male', 'William'),
 ('male', 'Rowe'),
 ('female', 'Sidney'),
 ('female', 'Lucy'),
 ('male', 'Reginald'),
 ('male', 'Harry'),
 ('female', 'Emily'),
 ('male', 'August'),
 ('male', 'Charles'),
 ('male', 'Frederick'),
 ('male', 'Waddington'),
 ('male', 'Percival'),
 ('male', 'James'),
 ('female', 'William'),
 ('female', 'Lyyli'),
 ('female', 'Karoliina'),
 ('female', 'Maude'),
 ('female', 'Anna'),
 ('male', 'Ernst'),
 ('male', 'Adolf'),
 ('female', 'Hilda'),
 ('female', 'Mary'),
 ('male', 'Richard'),
 ('male', 'James'),
 ('female', 'Marion'),
 ('female', 'Elsie'),
 ('male', 'Samuel'),
 ('male', 'James'),
 ('male', 'Hayden'),
 ('male', 'Samuel'),
 ('male', 'Ward'),
 ('male', 'Philip'),

4. Из имеющихся данных создадим временный датасет

In [208]:
temp_df = pd.DataFrame(name_list, columns=['sex', 'only_name'])
temp_df['name'] = pd.Series(an_list)
temp_df

         sex    only_name                            name
0     female    Elisabeth   Allen, Miss. Elisabeth Walton
1     female       Walton   Allen, Miss. Elisabeth Walton
2       male       Hudson  Allison, Master. Hudson Trevor
3       male       Trevor  Allison, Master. Hudson Trevor
4     female        Helen    Allison, Miss. Helen Loraine
...      ...          ...                             ...
1992  female       Hileni            Zabour, Miss. Hileni
1993  female      Thamine           Zabour, Miss. Thamine
1994    male  Mapriededer       Zakarian, Mr. Mapriededer
1995    male        Ortin             Zakarian, Mr. Ortin
1996    male          Leo              Zimmerman, Mr. Leo

[1997 rows x 3 columns]

In [198]:
temp_df.value_counts(subset=['only_name', 'sex'])

only_name  sex
William    male      66
John       male      57
Henry      male      37
Charles    male      32
James      male      30
                     ..
Grice      female     1
Guentcho   male       1
Guillaume  female     1
           male       1
Zillah     female     1
Name: count, Length: 954, dtype: int64

5. Мне показалось странным, что среди женщин лидирует имя William, я решил дополнительно проверить на ошибки

In [199]:
temp_df.query('sex == "female"')['only_name'].value_counts()

only_name
William       19
John          15
Mary          14
Elizabeth     13
Anna          11
              ..
Florentina     1
Asuncion       1
Vivian         1
Sebastiano     1
Thamine        1
Name: count, Length: 380, dtype: int64

In [215]:
temp_df.query('sex == "female" and only_name == "William"')

         sex only_name                                               name
68    female   William    Bucknell, Mrs. William Robert (Emma Eliza Ward)
95    female   William          Carter, Mrs. William Ernest (Lucile Polk)
104   female   William  Cavendish, Mrs. Tyrell William (Julia Florence...
205   female   William  Frauenthal, Mrs. Henry William (Clara Heinshei...
229   female   William      Graham, Mrs. William Thompson (Edith Junkins)
344   female   William    Minahan, Mrs. William Edward (Lillian E Thorpe)
433   female   William          Silvey, Mrs. William Baird (Alice Munger)
461   female   William     Spencer, Mrs. William Augustus (Marie Eugenie)
549   female   William  Angle, Mrs. William A (Florence "Mary" Agnes H...
585   female   William  Brown, Mrs. Thomas William Solomon (Elizabeth ...
700   female   William                    Hamalainen, Mrs. William (Anna)
764   female   William              Lahtinen, Mrs. William (Anna Sylfven)
889   female   William       Shelley, Mrs. William (Imanita Parrish Hall)
915   female   William                   Trout, Mrs. William H (Jessie L)
921   female   William  Turpin, Mrs. William John Robert (Dorothy Ann ...
1170  female   William     Coutts, Mrs. William (Winnie "Minnie" Treanor)
1527  female   William    Lobb, Mrs. William Arthur (Cordelia K Stanlick)
1758  female   William               Rice, Mrs. William (Margaret Norton)
1857  female   William    Skoog, Mrs. William (Anna Bernhardina Karlsson)

Почему? Откуда столько женщин с именем William?

In [216]:
temp_df.groupby(by='sex')['only_name'].agg(pd.Series.mode)

sex
female    William
male      William
Name: only_name, dtype: object

**Задание 4**
+ Выведите данные о всех пассажирах, которые сели в Cherbourg (Embarked='C') и были старше 50 лет.
+ Выведите данные о всех женщинах младше 20 и старше 50 лет.
+ Сколько пассажиров старше 70 лет было на борту?

In [34]:
df.query('embarked == "C" and age > 50')['name'].nunique()

27

In [37]:
df.query('sex == "female" and (age < 20 or age > 50)')['name'].nunique()

135

In [39]:
df.query('age > 70')['name'].nunique()

6

**Задание 5**
+ Посчитайте средний возраст среди мужчин и среди женщин.
+ Посчитайте доли выживших в различных возрастных группах (новый признак **AgeGroup**).
+ Найдите максимальную стоимость билета в каждом из ценовых классов.

In [41]:
df[['sex', 'age']].groupby(by='sex').mean().apply(lambda x: round(x, 2))

          age
sex
female  28.69
male    30.59

In [238]:
df['AgeGroup'] = df.age.apply(lambda x: 1 if x < 30 else 2 if x >= 30 and x < 60 else 3)
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,only_name,AgeGroup
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO","[Elisabeth, Walton]",1
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON","[Hudson, Trevor]",1
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON","[Helen, Loraine]",1
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON","[Hudson, Joshua, Creighton]",2
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",[Hudson],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,[Hileni],1
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,[Thamine],3
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,[Mapriededer],1
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,[Ortin],1
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,[Leo],1

In [239]:
df.AgeGroup.value_counts()

AgeGroup
1    569
2    437
3    303
Name: count, dtype: int64

In [242]:
round(df[['survived', 'AgeGroup']].value_counts('AgeGroup', normalize=True) * 100, 2)

AgeGroup
1    43.47
2    33.38
3    23.15
Name: proportion, dtype: float64

In [42]:
df[['pclass', 'fare']].groupby(by='pclass').max()

            fare
pclass
1       512.3292
2        73.5000
3        69.5500

**Задание 6**\
Ответьте на предыдущие вопросы с помощью функции crosstab и метода pivot_table.